html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: pink;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

#text {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem {
    max-width: 70%;
    margin-top: 20px;
    margin-left: 500px;
}

footer small {
    width: auto;
    position: relative;
    background-color: rgb(226, 226, 154);
}